<div class="jumbotron jumbotron-fluid text-center">
	<div class="container-fluid">
		<h1 class="display-4">Welcome to YourStory</h1>
		<p class="lead">Everyone has a story to tell. So do you. Share your strories from the best and worst of your life to everyone or keep it to yourself as a private diary.</p>
		<hr class="my-4">
		<p class="lead">Are you new to YourStory? Go ahead and login with your Google account.</p>
		<p class="lead">
			<a href="/auth/google" class="btn btn-danger">Login With Google</a>
		</p>
	</div>
</div>